<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Página inicial</title>
</head>
<body>
    <h1>FusionGourmet</h1>
    <div>
        <h2>Busca</h2>
        <form class="busca" action="/search" method="POST">
            <input type="text" name="query"> <button type="submit">Buscar</button>
        </form>
    </div>
    <div>
        <h2>populares</h2>

        <h2>veganos</h2>
    </div>

    <a href="/perfil">perfil</a>
    <p><a href="/culinariasEspecificas">culinárias</a></p>

</body>
</html>