<%- include('partials/head') %>

    <div class="container">
        <div class="form_area">
            <p class="title">SIGN UP</p>
            <form action="/register" method="POST">
                <div class="form_group">
                    <label class="sub_title" for="username">Name</label>
                    <input placeholder="Enter your full name" class="form_style" name="username" type="text">
                </div>
                <div class="form_group">
                    <label class="sub_title" for="email">Email</label>
                    <input placeholder="Enter your email" id="email" class="form_style" name="email" type="email">
                </div>
                <div class="form_group">
                    <label class="sub_title" for="password">Password</label>
                    <input placeholder="Enter your password" id="password" name="password" class="form_style" type="password">
                </div>
                <div>
                    <button class="btn">SIGN UP</button>
                    <p>Have an Account? <a class="link" href="/login">Login Here!</a></p><a class="link">
                    </a>
                </div><a class="link">

                </a>
            </form>
        </div><a class="link" href="">
        </a>
    </div>